<script>
'use strict';
$(() => {

  const groupId = "<%= @group_id %>";
  const kataId = "<%= @kata_id %>";

  $('button.ok').click(() => {
    window.location = `/dojo/index?id=${groupId}`;
    window.open(`/kata/edit/${kataId}`);
  });

});
</script>

<div id="avatar-page">
  <div class="edged-panel">
    <div class="title">your avatar is</div>
    <table>
      <% 8.times do %>
      <tr>
        <% 8.times do %>
        <td>
          <img class="small colour avatar"
               alt="<%= @avatar_name %>"
               src="/avatars/image/<%= @index %>"/>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <div class="avatar-name">the <%= @avatar_name %></div>
    <button type="button" class="large ok">ok</button>
  </div>
</div>
